@charset "utf-8";

body{
	font-family: Arial, Calibri, Century Gothic;
	font-size: 20px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
	background-color: #291810;
	color: #FFFFFF;
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#MainLogo{
	
  display: block;
  margin-left: auto;
  margin-right: auto;
	
}
.maintop{
	margin-top: 40px
}
#img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

container{
	width: 90%;
	margin: auto;
	margin-top: 100px;
	overflow: hidden;
}

header{
	background: #DF7C00;
	color: #ffffff;
	padding-top: 20px;
	min-height: 60px;	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	}

header #Logo{
	float: left;
	margin-left: auto;
}

header nav{
	float: right;
	margin-right: auto;
	width: 400px;
	list-style-type: none;
	
}

header a{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	font: bold;
	border: solid 1px #000000;
	border-radius: 25px;
	list-style-type: none;
}

.GameText h3{
	text-align: center;
	align-content: center;
	color: #928F8F;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

header li{
	float: left;
	display: inline;
	padding: 0 25px 0 25px;
	margin-left: auto;
	width: 280px;
}

#Bottom{
  margin-top:20px;
  
}

.break{

  float: left;
  text-align: center;
  width:50%;
  margin-bottom:40px;
  padding-bottom:40px;
}
footer{
	
	padding:20px;
    margin-top:0px;
    color:#ffffff;    
    text-align:right;
	margin-right: auto;
}
.boxed{
	border: 1px solid #FFFFFF;
	margin: 20px;
	padding: 0px;
	box-sizing: content-box;
	text-align: center;
	margin-left: auto, 50%;
	margin-right: auto, 50%;
	align-items: center;
	
	
}
.ImgGal{
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #9B8217;
	
}

nav ul>li>a:hover{
	color: red;
	background-color: white;
}

p2:nth-of-type(2){
	color:#B600E7;
	visibility:hidden; 
}
div:hover>p2{
	visibility: visible;
}

nav ul>li>ul>li{
	width: 250px;
	top: -20px;
}
nav ul>li>ul>li>a{
	list-style-type: none;
	text-decoration: none;
	color: aqua;
	font-size: 10px;
	border: solid 1px black;
	display: block;
	background-color: #555252;
	width: 80px;
	position: relative;
	margin-right: 50px;
	visibility: hidden;
}

nav ul>li>ul>li>a:hover{
	background-color: black;
}

nav ul>li:hover>a{
	visibility: visible;
}

p2{
	font-family: Arial, Calibri, Century Gothic;
	font-size: 20px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
	background-color: #291810;
	color: #FFFFFF;
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#AudioTable{
	margin-left: auto;
	margin-right: auto;
	
	width: 370px;
}
